body{
  background : #f1f1f1;
  font-family: sagoe ui;
}
header{
  background: url(../image/header.jpg);
  width: 100%;
  height: 60px;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 10px #888888 ;
  margin: -10px -10px; 
  position: fixed;
  z-index: 5;
}
header img{
  width: 200px; 
  height: 65px;
  margin-left: 100px; 
  margin-right: 50%;
  float: left;
}
header a{
  text-decoration: none;
  color: #f48642;
  margin:100px 7px;
  font-size: 18px;
  
}
header a:hover{
  text-shadow: 2px 5px 5px #efa462;
}

.after_img{
  height: 300px;
  max-width: 101%;
  margin-left: -7px;
  margin-right: -10px;
  background: url(../image/body.jpg);
  filter: blur(2px);
  padding-top: 350px;
  margin-bottom: 150px;
}

.after_text{
  position: absolute;
  margin-left: 170px;
  margin-top: -500px;
}
.after_text a:first-child{
  
  font-size: 70px;
  text-decoration: none;
  /*background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);*/
  color: transparent;
  border-top-left-radius: 15px 15px;
  border-bottom-left-radius: 15px 15px;

}
.after_text a{
  margin-left: 0px;
  font-size: 70px;
  text-decoration: none;
  color: transparent;
}
header1:hover .after_text {
  transition: 2s ease;
  margin-left: 170px;
  font-size: 70px;
  background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
  border-top-left-radius: 15px 15px;
  border-bottom-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
  font-color: white;
  padding-left:5px;
  padding-right:5px;

}
header1:hover .after_text a{
  transition: 2s ease;
  color: white;
}
header1:hover .after_text a:last-child{
  transition: 3s ease;
  color:#f48642;
}


.after_search{
  position: absolute;
  margin-top: -700px;
  margin-left: 75%;
  color: white;
  opacity:0.7;
}
header1:hover .after_search{
  opacity:1;
}

article a{
  color : #384c37;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
article a:hover{
  text-shadow: 2px 5px 10px #446042;
}

.list * {margin: 0 ; padding: 0;}
 
.list {
  margin: 20px;
  margin-left: 100px;
}
 
.list ul {
  list-style-type: none;
  width: 700px
}
 
.list h3  {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 30px;
}
 
.list li img {
  float: left;
  margin: 0 15px 0 0;
  width: 200px;
  height: 230px;

}
 
.list li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
.list li {
  padding: 10px;
  display: inline-block;
  background: #ffffff;
  margin-bottom: 30px;
  border-radius: 7px;
  box-shadow: 2px 2px 10px #888888 ;
}
 

.list li:hover{
  box-shadow: 3px 5px 10px #888888 ;
}

.rightbar{
  width: 25%;
  float: right;
  margin-top:100px;

}


.rightbar .category{
  background : #ffffff;
  box-shadow: 2px 2px 10px #888888 ;
  border-radius: 8px;
  padding-top: 1px;
  margin-bottom: 50px;
}
.rightbar h3{
  display: block;
  color: #ffffff;
  background-image: linear-gradient(to right, #324731 50%,#ffffff 50%);
  border-bottom: solid #324731;
  padding-left: 20px;
}
.rightbar .category a{
  display: block;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  color: #324731;
  font-size : 17px;
}
.rightbar .category a:hover{
  transition: 0.5s;
  background :#324731;
  color: white;
}
.rightbar .category:hover{
  box-shadow: 3px 5px 10px #888888 ;
}

.rightbar .populer{
  background : #ffffff;
  box-shadow: 2px 2px 10px #888888 ;
  border-radius: 8px;
  padding-top: 1px;
  padding-bottom: 20px;
  height: auto;
}
.rightbar .populer a{
  font-size: 16px;
  margin-bottom: -10px;
  text-decoration: none;
}
.rightbar .populer li{
  display: block;
  margin-left: -40px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.rightbar .populer li img {
  float: left;
  width: 70px;
  height: 80px;
  margin-right: 10px;
  padding-left: 10px;
}
.rightbar .populer:hover{
  box-shadow: 3px 5px 10px #888888 ;
}


footer{
  background: url(../image/header.jpg);
  width: 105%;
  height: 200px;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 10px #888888 ;
  margin: -10px -10px; 
  color: #ffffff;
  padding-top: 100px;
  margin-top: 100px;

}
footer a{
  text-decoration: none;
  color: #ffffff;
  margin:50px 7px;
  margin-top: 20px;
  font-size: 16px;
}
footer strong{
  color: #f48642;
  font-size: 18px;
}
footer a:hover{
  text-shadow: 2px 5px 5px #ffffff;
}
.ftr{
  float: left;
  margin-left: 230px;
}
.ftr1{
  float: left;
  margin-left: 200px;
  margin-right: 230px;
}
.ftr2{
  float: top;
  margin-right: 300px
}
footer hr{
  float: bottom;
  margin-top: 50px;
  color: black;
}
footer img{
  width: 150px; 
  height: 45px;
  margin-left: 85%;
}

.index{
  background: #ffffff;
  height: auto;
  width: 65%;
  margin-left: 30px;
  padding: 20px;
  box-shadow: 2px 2px 10px #888888 ;
  border-radius: 8px;
  margin-bottom: 100px;
  padding-bottom: 400px;
  padding-top: 100px;
}
.index a{
  font-size: 40px;
  display: block;
  margin: 40px 20px;
}

.index .imga1{
  width: 40%;
  height: 400px;
  margin: 10px 30%;
  align :center;
}

.index p{
  margin-top: 100px;
  margin-bottom: 200px;
  text-align: justify;
}
.index small{
  color: silver;
}

.index .imga2{
  width: 99%;
  height: 300px;
  /*margin: 10px 30%;*/
  margin: auto;
}
.index .img1a2{
  width: 99%;
  height: 600px;
  /*margin: 10px 30%;*/
  margin: auto;
}

.index .imga3{
  width: 25%;
  height: 200px;
  margin-left: 35%;
  margin-top: 50px;
}

.index .mid{
  background-color: #ffffff;
  width: 28%;
  height: 320px;
  float: left;
  display: inline-block;
  margin: 10px;
  box-shadow: 2px 2px 10px #888888 ;
  border-radius: 8px;
  padding: 10px;
}
.index .mid p{
  margin-top: -20px;
}

.index .mid:hover{
  box-shadow: 3px 5px 10px #888888 ;
}
.index .small{
  font-size: 21px;
}

.index:hover{
  box-shadow: 3px 5px 10px #888888 ;
}

.comment{
  background: #ffffff;
  height: auto;
  width: 65%;
  margin-left: 30px;
  padding: 20px;
  box-shadow: 2px 2px 10px #888888 ;
  border-radius: 8px;
  padding-bottom: 100px;

}

.comment img{
  width: 200px;
  height: 200px;
  float: left;
  margin-left: -20px;
  display:inline-block;
}

.comment textarea{
  width: 75%;
  height: 150px;

}
.comment button{
  margin-left: 87%;
  margin-bottom: 100px;
}

/*.comment strong{
  margin-bottom: 100px;
}*/
.comment input[type = "textarea"]{
   /*margin-left: 20%;*/
   width: 600px;
   height: 80px;
   padding:20px;
}

.comment:hover{
  box-shadow: 3px 5px 10px #888888 ;
}
.footerlg{
  background: url(../image/header.jpg);
  width: 105%;
  height: 100px;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 10px #888888 ;
  margin: -10px -10px; 
  color: #ffffff;
  padding-top: 90px;
  padding-bottom: 10px

}




                                                                /*LOGIN*/

.login{
  color: #ffffff;
  background : url(../image/header.jpg);
  width: 300px;
  height: 200px;
  margin:200px auto ;
  padding:50px 50px;
  box-shadow: 2px 5px 10px black ;
  border-radius: 5px;
}
.bdlogin{
  background: url(../image/body.jpg);
}
.login input{
  margin: 20px 20px;
  background : silver;
}
.login input:focus{
  background : white;
}
.login {
 color: white;
}
.login form input[type = "password"]{
  margin-top: -100%;
  margin-left: 24px;
}
.login button{
  color: #ffffff;
  background : #405b57;
  border: none;
  width: 300px;
  height: 50px;
  margin-top :40px;
  cursor: pointer;
  margin-bottom: 50px;
}
.login button:hover{
  background : #4a8279;
  box-shadow: 2px 10px 10px black ;
}

.login img{
  margin-top: -250px;
  width: 200px;
  height: 200px;
  margin-left:15%;
  filter: sepia(40%);
}

.login a{
  margin-left: 60%;
  color: #fff;
  padding: 5px;
}

.login a:hover{
  background : #405b57;
  box-shadow: 2px 10px 10px black ;
  border-radius: 3px;
}

.login:hover{
  box-shadow: 3px 10px 10px #000000 ;
}


                                          /*ADMIN*/

.sidebar{
  background :url(../image/header.jpg);
  width: 18%;
  height: 700px;
  position: fixed;
  margin:-8px;
  margin-top: -8px;
  display: absolute;
}

.sidebar img{
  width: 200px;
  height: 70px;
  margin:13px;
  margin-bottom: 50px;
}
.sidebar ul li{
  display: block;
  margin-bottom: 0px;
  margin-left: -40px;
  height: 30px;
  padding-top: 10px;
}
.sidebar ul li a{
  color: #e59132;
  text-decoration: none;
  margin-left:30px;
  font-size: 18px;
}

.sidebar ul li:hover{
  background:#324430;
  cursor: pointer;
}

.activemenu{
  background:#324430;
}
.indexadmin{
  width: 75%;
  height: auto;
  margin-left: 20%;
  background:#ffffff;
  box-shadow: 2px 2px 10px #888888 ;
  border-radius: 8px;

}
.indexadmin h3{
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 50px;
}
.indexadmin h4{
  display: block;
  padding-left: 20px;
  margin-top: -20px;
  font-size: 16px;
  color: #ffffff;
  background:#405b57;
  margin-bottom: 100px;
  height: 22px;
  padding-top: 7px;
}
.indexadmin h4 strong{
  color: #e59132;
}
.indexadmin h1{
  display: block;
  margin-top: 140px;
  margin-left: 25%;
  font-size: 70px;
  padding-bottom: 250px;
}
.indexadmin label{
  display: block;
  margin-left: 20px;
  margin-bottom: 20px;
}
.indexadmin label input{
  margin-left : 30px;
}

.indexadmin label input{
  margin-left : 30px;
  width: 80%;
}
.indexadmin label textarea{
  margin-left: 140px;
  width: 80%;
  height: 200px;
}
.indexadmin button{
  background :url(../image/header.jpg);
  width: 130px;
  height: 40px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 80%;
  margin-bottom: 40px;
}
.indexadmin button:hover{
  box-shadow: 2px 10px 10px black ;
  cursor: pointer;
}
.indexadmin table{
  /*border: solid black; */
  margin: 20px auto;
  color: #000000;
  opacity: 0.8;
}
.indexadmin table caption{
  font-family: 'Righteous', cursive;
  font-size: 24px;
  text-shadow: 5px 7px 15px #ffffff;
}
.indexadmin thead th{
  width: 300px;
  height: 60px;
  background:url(../image/header.jpg);
  color: #fff;
  font-size: 20px;
}
.indexadmin tbody td{
  background :#ffffff;
  height: 45px;
  padding-left: 10px;
}
.indexadmin tr:nth-child(odd) td{
  background-color: #c5c9c5;
}
.indexadmin tr:hover td {
  background :#426651;

}
 .indexadmin td:hover a{
   font-size: 18px;
  margin-left: 10px;
  text-shadow: 5px 10px 10px #ffffff;
}
.indexadmin table .action{
  width: 50px;
  text-align:center;
}
.indexadmin table button{
  background :url(../image/header.jpg);
  width: 80px;
  height: 30px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin: 0px;
}

.indexadmin:hover{
  box-shadow: 3px 5px 10px #888888 ;
}
